/* genaral styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    color: #3F3F3F;
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

h1 {
    font-size: 70px;
    line-height: 100%;
}


/* styles for home slide */

#homeSlide {
    min-height: 100vh;
    padding: 0 calc(-150px + 13vw);
    background-color: whitesmoke;
}

.homeSlideWelcomeBackground {
    background-image: url(pictures/welcome.png);
    position: absolute;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: homeSlideAnimation 1.3s 2;
    animation-direction: alternate;
    animation-delay: 0.5s;
}

header {
    margin: 30vh 3vw 0 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    color: whitesmoke;
    animation: homeSlideAnimation 1s normal forwards ease-in-out;
    animation-delay: 3s;
    opacity: 0;
}

@keyframes homeSlideAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes homeSlideAnimation09 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}

.homeSildeBannerLogo {
    height: 10vw;
    max-height: 150px;
    min-height: 100px;
    margin-top: -4vh;
}

.slogan {
    text-align: right;
    font-weight: 600;
    font-size: clamp(5rem, 8vw, 8rem);
    line-height: 100%;
    text-transform: uppercase;
    white-space: nowrap;
}

nav {
    margin-top: 15px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: whitesmoke;
}

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.banner video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: homeSlideAnimation 1s normal forwards ease-in-out;
    animation-delay: 2s;
}

.searchBox {
    z-index: 10;
    width: 500px;
    height: 340px;
    margin: 25vh 0 0 3vw;
    opacity: 0.9;
    background-image: url(pictures/yellow_bg_1.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 75px 200px;
    grid-template-columns: auto;
    padding: 33px 50px 50px 50px;
    border-radius: 4px;
    animation: homeSlideAnimation09 2s normal forwards ease-in-out;
    animation-delay: 4s;
    opacity: 0;
}

.searchBox h2 {
    font-size: 23px;
    font-weight: 400;
    text-align: right;
}

.choose {
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
}

form {
    margin-top: 20px;
}

.searchArrow {
    position: absolute;
    transform: translate(350px, 36px);
}

label {
    position: absolute;
    transform: translate(11px, 18px);
    font-size: 14px;
}

.searchBox input[type=text] {
    width: 100%;
    height: 70px;
    padding: 36px 20px 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    font-size: 18px;
}

.searchBox input::placeholder {
    color: lightgray;
}


/* styles for fares slide */

#faresSlide {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.faresPicture img {
    max-width: 400px;
    height: auto;
    margin-left: 7em;
}

.faresPicture {
    align-self: center;
}

.faresInfo {
    display: grid;
    grid-template-rows: 40% 60%;
}

.faresDetail {
    display: grid;
    grid-template-rows: auto 20%;
    margin-bottom: 2em;
}

.faresIcons {
    align-self: flex-end;
    max-width: 420px;
    display: flex;
    justify-content: space-between;
}

.faresIcons img {
    max-width: 50px;
    max-height: 50px;
}

.faresIconText {
    max-width: 408px;
    display: flex;
    justify-content: space-between;
}

.faresIconText p {
    font-size: 10px;
    color: #777777;
    margin-top: 0.5em;
    margin-left: 1em;
}

.faresText h1 {
    margin-bottom: 0.6em;
}

.faresText p {
    max-width: 584px;
    line-height: 180%;
}

.coloredLink {
    color: #A8008D;
}

.fadeIn {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.fadeIn.appear {
    opacity: 1;
}

.fadeInLeft {
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 1.5s ease-in-out;
}

.fadeInLeft.appear {
    transform: translateX(0);
    opacity: 1;
}


/* styles for offers slide */

#offersSlide {
    min-height: 100vh;
    background: #F1E9E9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#offersSlide h2 {
    font-size: 50px;
    color: whitesmoke;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#offersSlide h3 {
    font-size: 150px;
    font-weight: 600;
    color: #F8BC53;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel {
    height: 77vh;
}

.gallery {
    height: 72vh;
}

.gallery-cell {
    height: 55vh;
    margin: 8vh 10px 200px 0;
    /* background: #8C8; */
    counter-increment: gallery-cell;
}

.gallery-cell.is-selected {
    animation: scaleMove 1s;
    animation-fill-mode: forwards;
}


/* Animation on selected gallery cell (grow) */

@keyframes scaleMove {
    100% {
        margin-top: 0;
        height: 70vh;
    }
}

.offers {
    width: 70%;
    height: 55vh;
    background-size: cover;
    background-position: center;
}

.offerOne {
    background-image: url(pictures/Kirkjufell.jpg);
}

.offerTwo {
    background-image: url(pictures/big_belt_bridge.jpg);
}

.offerThree {
    background-image: url(pictures/Puffin_2.jpg);
}

.offersHeadings {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offersHeadingsDown {
    animation: offerTextMoveDown 0.5s;
    animation-fill-mode: forwards;
}

.offersHeadingsUp {
    animation: offerTextMoveUp 0.5s;
    animation-fill-mode: forwards;
}

@keyframes offerTextMoveUp {
    0% {
        transform: translateY(+20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes offerTextMoveDown {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(+20px);
    }
}

.bookButton {
    height: 45px;
    width: 132px;
    background-color: #A8008D;
    border: none;
    color: whitesmoke;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bookButton:hover {
    color: #F8BC53;
}

.noBook {
    display: none;
}

.bookFadeIn {
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

.bookFadeOut {
    animation: fadeOut 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* styles for quotes slide */

#quotesSlide {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quoteBox {
    width: 45%;
    word-wrap: break-word;
    text-align: center;
    margin: auto;
}

#quote {
    color: #A8008D;
    font-size: 1.8em;
}

#quoteAuthor {
    font-size: 1em;
    font-weight: bold;
    padding-top: 4%;
}


/* styles for instagram slide */

#instagramSlide {
    min-height: 100vh;
    background: #F1E9E9;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.instagramSlideBox {
    width: 70vw;
    height: 95vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.instagramSlideHeading {
    margin: 2vh 0 4vh 0;
}

.instagramSlideGrid {
    display: grid;
    width: 100%;
    height: 40vw;
    max-height: 65vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 20% 15% 15% 17% 33%;
    margin: 0 auto;
}

.instagramSlideGrid div {
    overflow: hidden;
    margin: 0.5vw;
}

.instagramSlideGrid a {
    overflow: hidden;
    margin: 0.5vw;
}

.instagramSlideGrid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.instagramSlideGrid a img {
    transition: transform .2s;
}

.instagramSlideGrid a img:hover {
    transform: scale(1.1);
}

.instagramSlideGridFeet {
    grid-row: 1 / 4;
    grid-column: 1 / 3;
}

.instagramSlideGridFeet:hover {
    grid-row: 1 / 4;
    grid-column: 1 / 3;
}

.instagramSlideGridCar {
    grid-row: 4 / 6;
    grid-column: 2 / 3;
}

.instagramSlideGridDog {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

.instagramSlideGridMountain {
    grid-row: 3 / 5;
    grid-column: 3 / 4;
}

.instagramSlideGridGlacier {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}

.instagramSlideGridFontain {
    grid-row: 1 / 4;
    grid-column: 4 / 5;
}

.instagramSlideGridLights {
    grid-row: 4 / 6;
    grid-column: 4 / 6;
}

.instagramSlideGridPlane {
    grid-row: 2 / 4;
    grid-column: 5 / 6;
}

.instagramSlideTravelboy {
    grid-row: 4 / 6;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    transform: translateX(-2vw);
}


/* styles for newsletter slide */

#newsletterSlide {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsletterHeading h1 {
    text-align: center;
}

.newsletterInput {
    align-self: center;
    margin-top: 40px;
}

.newsletterInput #field {
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #3F3F3F;
    background-color: #F1E9E9;
    height: 45px;
    width: 390px;
    padding-left: 20px;
}

.newsletterInput #submit {
    box-sizing: border-box;
    border: none;
    border-radius: 0 4px 4px 0;
    font-size: 18px;
    color: whitesmoke;
    background-color: #A8008D;
    height: 45px;
    width: 132px;
    margin-left: -0.5em;
}

.newsletterInput #submit:hover {
    color: #F8BC53;
}


/* styles for footer */

footer {
    height: 300px;
    background: #F1E9E9;
    display: grid;
    grid-template-rows: 270px 30px;
}

.footerWrapper {
    display: flex;
    justify-content: center;
}

.footerLinks {
    padding: 80px 30px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 750px;
}

.footerLinks h4 {
    padding-bottom: 7px;
}

.footerLogo {
    height: 100px;
}

.footerSocialLinks img {
    height: 30px;
}

.footerButton {
    height: 45px;
    width: 132px;
    background-color: #A8008D;
    border: none;
    color: whitesmoke;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

.footerButton:hover {
    color: #F8BC53;
}

.footerCR {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 8px;
}

.footerCRText {
    font-size: 12px;
}


/* Media Queries < 1050px */

@media (max-width: 1050px) {
    /* home section */
    .searchBox {
        width: 400px;
        height: 272px;
        padding: 20px 40px 40px 40px;
        grid-template-rows: 70px 120px;
    }
    .searchBox h2 {
        font-size: 20px;
    }
    .searchBoxPlaneIcon {
        height: 50px;
    }
    form {
        margin-top: unset;
    }
    .searchBox input[type=text] {
        width: 100%;
        height: 60px;
        padding: 30px 20px 6px 10px;
        font-size: 18px;
    }
    .searchArrow {
        transform: translate(275px, 32px);
    }
}


/* Media Queries < 900px */

@media (max-width: 900px) {
    /* home section */
    .banner {
        flex-direction: column;
        align-items: center;
    }
    .homeSildeBannerLogo {
        display: none;
    }
    header {
        margin: 0 0 calc(20px + 5vh) 0;
        flex-direction: column;
    }
    .slogan {
        text-align: center;
        font-size: 76px;
    }
    nav {
        display: none;
    }
    .searchBox {
        margin: unset;
    }
}


/* Media Queries Tablet */

@media (max-width: 600px) {
    /* home section */
    /* fares section */
    .fadeInResponsive {
        visibility: hidden;
    }
    /* offer section */
    /* quotes section */
    .quotesSlideMobile {
        visibility: hidden;
        ;
    }
    /* instagram section */
    .instagramSlideMobile {
        visibility: hidden;
        ;
    }
    /* newsletter section */
    /* footer */
}


/* Media Queries mobile */

@media (max-width: 450px) {
    /* home section */
    .homeSlideWelcomeBackground {
        display: none;
    }
    .banner video {
        display: none;
    }
    .banner {
        background-image: url(pictures/backpacker_hero.jpg);
        background-size: cover;
        background-position-y: bottom;
        justify-content: flex-start;
        padding-top: 20vh;
        opacity: 0;
        animation: homeSlideAnimation 1s normal forwards ease-in-out;
        animation-delay: 1s;
    }
    header {
        margin: 0 0 calc(30px) 0;
        animation-delay: 2s;
    }
    .slogan {
        font-size: 59px;
        color: #3F3F3F;
    }
    .searchBox {
        width: 310px;
        height: 211px;
        padding: 7px 30px 30px 30px;
        grid-template-rows: 60px 110px;
        animation-delay: 3s;
    }
    .searchBox h2 {
        font-size: 16px;
    }
    .searchBoxPlaneIcon {
        height: 35px;
    }
    form {
        margin-top: unset;
    }
    label {
        transform: translate(9px, 12px);
        font-size: 14px;
    }
    .searchBox input[type=text] {
        width: 100%;
        height: 48px;
        padding: 30px 20px 10px 8px;
        font-size: 16px;
    }
    .searchArrow {
        transform: translate(210px, 25px);
    }
}


/* Media Queries Iphone 6/7/8 */

@media (max-height: 700px) {
    /* home section */
    /* fares section */
    /* offer section */
    /* quotes section */
    .quotesSlideMobile {
        visibility: hidden;
    }
    /* instagram section */
    .instagramSlideMobile {
        visibility: hidden;
    }
    /* newsletter section */
    /* footer */
}