/* genaral styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    color: #3F3F3F;
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

h1 {
    font-size: 60px;
}


/* styles for home slide */

#homeSlide {
    height: 100vh;
    padding: 0 calc(-150px + 13vw);
}

header {
    height: 17vh;
    margin-top: 30vh;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    color: whitesmoke;
}

header img {
    height: 15vh;
    max-height: 250px;
    margin-top: -4vh;
}

.slogan {
    text-align: right;
    font-weight: 600;
    font-size: calc(2em + 7vh);
    text-align: right;
    line-height: 100%;
    text-transform: uppercase;
    white-space: nowrap;
}

nav {
    margin-top: 15px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: whitesmoke;
}

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.banner video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.seachBox {
    z-index: 10;
    width: 500px;
    height: 340px;
    margin-top: 25vh;
    opacity: 0.9;
    background-image: url(pictures/yellow_bg_1.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 75px 100px;
    grid-template-columns: auto;
    padding: 33px 50px 50px 50px;
    border-radius: 4px;
}

.seachBox h2 {
    font-size: 23px;
    font-weight: 400;
    text-align: right;
}

.choose {
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
}

form {
    margin-top: 20px;
}

.searchArrow {
    position: absolute;
    transform: translate(350px, 36px);
}

label {
    position: absolute;
    transform: translate(11px, 18px);
    font-size: 14px;
}

.seachBox input[type=text] {
    width: 100%;
    height: 70px;
    padding: 36px 20px 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    font-size: 18px;
}

.seachBox input::placeholder {
    color: lightgray;
}


/* styles for fares slide */

#faresSlide {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.faresPicture img {
    max-width: 400px;
    height: auto;
    margin-left: 7em;
}

.faresPicture {
    align-self: center;
}

.faresInfo {
    display: grid;
    grid-template-rows: 40% 60%;
}

.faresDetail {
    display: grid;
    grid-template-rows: auto 20%;
    margin-bottom: 2em;
}

.faresIcons {
    align-self: flex-end;
    max-width: 420px;
    display: flex;
    justify-content: space-between;
}

.faresIcons img {
    max-width: 50px;
    max-height: 50px;
}

.faresIconText {
    align-self: flex-top;
    max-width: 408px;
    display: flex;
    justify-content: space-between;
}

.faresIconText p {
    font-size: 10px;
    color: #777777;
    margin-top: 0.5em;
    margin-left: 1em;
}

.faresText h1 {
    font-size: 70px;
    margin-bottom: 0.8em;
}

.faresText {
    max-width: 584px;
    line-height: 180%;
}

.coloredLink {
    color: #A8008D;
}


/* styles for offers slide */

#offersSlide {
    min-height: 100vh;
    background: #F1E9E9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#offersSlide h2 {
    font-size: 50px;
    color: whitesmoke;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#offersSlide h3 {
    font-size: 150px;
    font-weight: 600;
    color: #F8BC53;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel {
    height: 77vh;
}

.gallery {
    height: 72vh;
}

.gallery-cell {
    height: 55vh;
    margin: 8vh 10px 200px 0;
    /* background: #8C8; */
    counter-increment: gallery-cell;
}

.gallery-cell.is-selected {
    animation: scaleMove 1s;
    animation-fill-mode: forwards;
}

@keyframes scaleMove {
    100% {
        margin-top: 0;
        height: 70vh;
    }
}

.offers {
    width: 70%;
    height: 55vh;
    background-size: cover;
    background-position: center;
}

.offerOne {
    background-image: url(pictures/Kirkjufell.jpg);
}

.offerTwo {
    background-image: url(pictures/big_belt_bridge.jpg);
}

.offerThree {
    background-image: url(pictures/Puffin_2.jpg);
}

.offersHeadings {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offersHeadingsDown {
    animation: offerTextMoveDown 0.5s;
    animation-fill-mode: forwards;
    color: tomato;
}

.offersHeadingsUp {
    animation: offerTextMoveUp 0.5s;
    animation-fill-mode: forwards;
}

@keyframes offerTextMoveUp {
    0% {
        transform: translateY(+20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes offerTextMoveDown {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(+20px);
    }
}

.bookButton {
    height: 45px;
    width: 132px;
    background-color: #A8008D;
    border: none;
    color: #F8BC53;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bookButton:hover {
    color: whitesmoke;
}

.noBook {
    display: none;
}

.bookFadeIn {
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

.bookFadeOut {
    animation: fadeOut 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* styles for quotes slide */

#quotesSlide {
    min-height: 50vh;
}

.quoteBox {
    width: 45%;
    word-wrap: break-word;
    text-align: center;
    margin: auto;
    padding-top: 8%;
}

#quote {
    color: #A8008D;
    font-size: 1.8em;
}

#quoteAuthor {
    font-size: 1em;
    font-weight: bold;
    padding-top: 4%;
}


/* styles for instagram slide */

#instagramSlide {
    min-height: 100vh;
    background: #F1E9E9;
}


/* styles for newsletter slide */

#newsletterSlide {
    min-height: 50vh;
    display: grid;
    grid-auto-rows: auto auto;
    justify-content: center;
}

.newslatterHeading h1 {
    text-align: center;
    font-weight: 0;
    font-size: 60px;
    line-height: 120%;
    margin-top: 1em;
}

.newsletterInput #field {
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #3F3F3F;
    background-color: #F1E9E9;
    height: 45px;
    width: 390px;
    padding-left: 20px;
}

.newsletterInput #submit {
    box-sizing: border-box;
    border: none;
    border-radius: 0 4px 4px 0;
    font-size: 18px;
    color: #F8BC53;
    background-color: #A8008D;
    height: 45px;
    width: 132px;
    margin-left: -0.5em;
}

.newsletterInput #submit:hover {
    color: whitesmoke;
}


/* styles for footer */

footer {
    min-height: 30vh;
    background: #F1E9E9;
    display: grid;
    grid-template-rows: 75% 25%;
}

.footerCR {
    text-align: right;
    display: grid;
    grid-template-columns: 55% 10%;
    font-size: 12px;
}

.footerCR p {
    padding-top: 0.5em;
}

.footerCR img {
    max-width: 18%;
    margin-left: 1em;
}

/* Media Queries Tablet */
@media (max-width: 600px) {

/* home section */


/* fares section */


/* offer section */


/* quotes section */


/* instagram section */


/* newsletter section */


/* footer */

}


/* Media Queries Iphone 6/7/8 */
@media (max-height: 700px) {

/* home section */


/* fares section */


/* offer section */


/* quotes section */


/* instagram section */


/* newsletter section */


/* footer */

}


