/* genaral styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100vw;
    background: whitesmoke;
    color: #3F3F3F;
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
    color: whitesmoke;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
    font-size: 150px;
    font-weight: 600;
    color: #F8BC53;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* styles for home slide */

.homeSlide {
    height: 100vh;
}

header {
    height: 17vh;
    margin-top: 30vh;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    color: whitesmoke;
}

header img {
    position: relative;
    height: 12vh;
}

header section {}

.slogan {
    text-align: right;
    font-weight: 600;
    font-size: 10vh;
    text-align: right;
    letter-spacing: 0.1em;
    line-height: 100%;
    text-transform: uppercase;
}

nav {
    margin-top: 15px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 30px;
}

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.banner video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.box {
    z-index: 10;
    width: 500px;
    height: 400px;
    margin-top: 25vh;
    background-color: whitesmoke;
    opacity: 0.9;
}


/* styles for fares slide */

.faresSlide {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
}

.faresPicture img{
    max-width: 400px;
    height: auto;
    margin-left: 7em;
}
.faresPicture{
    align-self: center;
}

.faresInfo{
    display: grid;
    grid-template-rows: 40% 60%;
}

.faresDetail{
    display: grid;
    grid-template-rows: auto 20%;
    margin-bottom: 2em;
}

.faresIcons{
   align-self: flex-end;
   max-width:  420px;
   display: flex;
   justify-content: space-between;
}

.faresIcons img{
    max-width: 50px;
    max-height: 50px;
}

.faresIconText{
    align-self: flex-top;
    max-width:  408px;
    display: flex;
    justify-content: space-between;
}

.faresIconText p{
    font-size: 10px;
    color: #777777;
   margin-top: 0.5em;
   margin-left: 1em;

}

.faresText h1{
    font-size: 70px;
    margin-bottom: 0.8em;
}

.faresText{
    max-width: 584px;
    line-height: 180%;

}
.coloredLink{
    color: #A8008D;
}


/* styles for offers slide */

.offersSlide {
    min-height: 100vh;
    background: #F1E9E9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.carousel {
    height: 77vh;
}

.gallery {
    height: 72vh;
}

.gallery-cell {
    height: 55vh;
    margin: 8vh 10px 200px 0;
    /* background: #8C8; */
    counter-increment: gallery-cell;
}

.gallery-cell.is-selected {
    animation: scaleMove 1s;
    animation-fill-mode: forwards;
}

@keyframes scaleMove {
    100% {
        margin-top: 0;
        height: 70vh;
    }
}

.offers {
    width: 70%;
    height: 55vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offerOne {
    background-image: url(pictures/Berlin_2_small.jpg);
}

.offerTwo {
    background-image: url(pictures/Dublin_small.jpg);
}

.offerThree {
    background-image: url(pictures/london_small.jpg);
}


/* styles for quotes slide */

.quotesSlide {
    min-height: 50vh;
}

.quoteBox{
    width: 45%;
    word-wrap: break-word;
    text-align: center;
    margin: auto;
    padding-top: 8%;
}

#quote{
    color: #A8008D;
    font-size: 1.8em;
}
#quoteAuthor{
    font-size: 1em;
    font-weight: bold;
}


/* styles for instagram slide */

.instagramSlide {
    min-height: 100vh;
    background: #F1E9E9;
}


/* styles for newsletter slide */

.newsletterSlide {
    min-height: 50vh;
}


/* styles for footer */

footer {
    min-height: 30vh;
    background: #F1E9E9;
}